In [154]:
import pandas as pd
import numpy as np

In [155]:
df=pd.read_csv("dataset.csv")
df.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0

In [156]:
#identifying the columns incase for snakecasing
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [157]:
#snake casing 
#converting all the features into lowercase ,removing leading blank space and replaced blank space between words by "_"
df.columns=df.columns.str.lower().str.strip().str.replace(" ","_")
df.columns

Index(['step', 'type', 'amount', 'nameorig', 'oldbalanceorg', 'newbalanceorig',
       'namedest', 'oldbalancedest', 'newbalancedest', 'isfraud',
       'isflaggedfraud'],
      dtype='object')

In [158]:
#description of the data

print("shape of the data ",df.shape )
print()
print()
print("data types of each feature ",df.dtypes)
print()
print()
print("missing values of each feature in the dataset",df.isnull().sum())
print()
print()
print("duplicate rows:", df.duplicated().sum())
print()
print()
print("class distribution:\n", df['isfraud'].value_counts(normalize=True))

shape of the data  (6362620, 11)


data types of each feature  step                int64
type               object
amount            float64
nameorig           object
oldbalanceorg     float64
newbalanceorig    float64
namedest           object
oldbalancedest    float64
newbalancedest    float64
isfraud             int64
isflaggedfraud      int64
dtype: object


missing values of each feature in the dataset step              0
type              0
amount            0
nameorig          0
oldbalanceorg     0
newbalanceorig    0
namedest          0
oldbalancedest    0
newbalancedest    0
isfraud           0
isflaggedfraud    0
dtype: int64


duplicate rows: 0


class distribution:
 isfraud
0    0.998709
1    0.001291
Name: proportion, dtype: float64

In [153]:
#statistical measure

df.describe(include="all")

,amount,oldbalanceorg,newbalanceorig,oldbalancedest,newbalancedest,isfraud,original_balance_difference,dest_balance_diff,amount_to_origin_ratio,amount_to_dest_ratio,transaction_hour,night_transaction,type_cash_out,type_debit,type_payment,type_transfer
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6362620,6362620,6362620,6362620
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4125120,6321188,4211125,5829711
mean,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,-2.123056e+04,1.242947e+05,7.067448e+04,2.788383e+04,1.532145e+01,1.769790e-02,NaN,NaN,NaN,NaN
std,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.466433e+05,8.129391e+05,5.084243e+05,1.879306e+05,4.321799e+00,1.318510e-01,NaN,NaN,NaN,NaN
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.915268e+06,-1.306083e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN
25%,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.344011e-01,1.607037e-01,1.200000e+01,0.000000e+00,NaN,NaN,NaN,NaN
50%,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00,0.000000e+00,6.453832e+00,9.178313e-01,1.600000e+01,0.000000e+00,NaN,NaN,NaN,NaN
75%,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,1.015044e+04,1.491054e+05,1.228776e+04,9.732300e+03,1.900000e+01,0.000000e+00,NaN,NaN,NaN,NaN
max,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+07,1.056878e+08,9.244552e+07,6.096528e+07,2.300000e+01,1.000000e+00,NaN,NaN,NaN,NaN

In [ ]:
#since there no missing values we can proceed with out next step

In [ ]:
#add balance difference
#original balance show how much the sender have after the transaction
#dest balance shows how much the amount added to recieve after the transaction
df["original_balance_difference"]=df["oldbalanceorg"]-df["newbalanceorig"]
df["dest_balance_diff"]=df["newbalancedest"]-df["oldbalancedest"]
df.head()

,amount,oldbalanceorg,newbalanceorig,oldbalancedest,newbalancedest,isfraud,original_balance_difference,dest_balance_diff,amount_to_origin_ratio,amount_to_dest_ratio,transaction_hour,night_transaction,type_cash_out,type_debit,type_payment,type_transfer
0,9839.64,170136.0,160296.36,0.0,0.0,0,9839.64,0.0,0.057834,9839.640000,1,1,False,False,True,False
1,1864.28,21249.0,19384.72,0.0,0.0,0,1864.28,0.0,0.087731,1864.280000,1,1,False,False,True,False
2,181.00,181.0,0.00,0.0,0.0,1,181.00,0.0,0.994505,181.000000,1,1,False,False,False,True
3,181.00,181.0,0.00,21182.0,0.0,1,181.00,-21182.0,0.994505,0.008545,1,1,True,False,False,False
4,11668.14,41554.0,29885.86,0.0,0.0,0,11668.14,0.0,0.280788,11668.140000,1,1,False,False,True,False

In [139]:
#drop unwanted columns
df=df.drop(columns=["nameorig","namedest","isflaggedfraud"])
df.head(5)

,step,type,amount,oldbalanceorg,newbalanceorig,oldbalancedest,newbalancedest,isfraud,original_balance_difference,dest_balance_diff
0,1,PAYMENT,9839.64,170136.0,160296.36,0.0,0.0,0,9839.64,0.0
1,1,PAYMENT,1864.28,21249.0,19384.72,0.0,0.0,0,1864.28,0.0
2,1,TRANSFER,181.00,181.0,0.00,0.0,0.0,1,181.00,0.0
3,1,CASH_OUT,181.00,181.0,0.00,21182.0,0.0,1,181.00,-21182.0
4,1,PAYMENT,11668.14,41554.0,29885.86,0.0,0.0,0,11668.14,0.0

In [ ]:
#this shows how big the transaction is compared to senders balance
# if amount if 5000 and senders balance is 5000 means the ration is about ~1 so very suspicious
df["amount_to_origin_ratio"] = df["amount"] / (df["oldbalanceorg"] + 1)

In [ ]:
#this shows how big the transaction is compared to recivers balance
df["amount_to_dest_ratio"] = df["amount"] / (df["oldbalancedest"] + 1)

In [142]:
df.tail()

,step,type,amount,oldbalanceorg,newbalanceorig,oldbalancedest,newbalancedest,isfraud,original_balance_difference,dest_balance_diff,amount_to_origin_ratio,amount_to_dest_ratio
6362615,743,CASH_OUT,339682.13,339682.13,0.0,0.00,339682.13,1,339682.13,339682.13,0.999997,3.396821e+05
6362616,743,TRANSFER,6311409.28,6311409.28,0.0,0.00,0.00,1,6311409.28,0.00,1.000000,6.311409e+06
6362617,743,CASH_OUT,6311409.28,6311409.28,0.0,68488.84,6379898.11,1,6311409.28,6311409.27,1.000000,9.215103e+01
6362618,743,TRANSFER,850002.52,850002.52,0.0,0.00,0.00,1,850002.52,0.00,0.999999,8.500025e+05
6362619,743,CASH_OUT,850002.52,850002.52,0.0,6510099.11,7360101.63,1,850002.52,850002.52,0.999999,1.305667e-01

In [143]:
for i in df.columns:
    print(i)

step
type
amount
oldbalanceorg
newbalanceorig
oldbalancedest
newbalancedest
isfraud
original_balance_difference
dest_balance_diff
amount_to_origin_ratio
amount_to_dest_ratio

In [ ]:
#converting the step into hours 
df["transaction_hour"]=df["step"]%24
df["transaction_hour"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23,  0], dtype=int64)

In [ ]:
#most of the fraud transactions done during 12 am to 6 am
df["night_transaction"]=df["transaction_hour"].apply(lambda x : 1 if x<6 else 0)
df=df.drop(columns=["step"])

In [146]:
df["night_transaction"].unique()

array([1, 0], dtype=int64)

In [147]:
df.head()

,type,amount,oldbalanceorg,newbalanceorig,oldbalancedest,newbalancedest,isfraud,original_balance_difference,dest_balance_diff,amount_to_origin_ratio,amount_to_dest_ratio,transaction_hour,night_transaction
0,PAYMENT,9839.64,170136.0,160296.36,0.0,0.0,0,9839.64,0.0,0.057834,9839.640000,1,1
1,PAYMENT,1864.28,21249.0,19384.72,0.0,0.0,0,1864.28,0.0,0.087731,1864.280000,1,1
2,TRANSFER,181.00,181.0,0.00,0.0,0.0,1,181.00,0.0,0.994505,181.000000,1,1
3,CASH_OUT,181.00,181.0,0.00,21182.0,0.0,1,181.00,-21182.0,0.994505,0.008545,1,1
4,PAYMENT,11668.14,41554.0,29885.86,0.0,0.0,0,11668.14,0.0,0.280788,11668.140000,1,1

In [148]:
df["type"].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [ ]:
#one hot encoding to avoid priority 
df = pd.get_dummies(df, columns=["type"], drop_first=True)
df.columns=df.columns.str.lower()
df.head(5)

,amount,oldbalanceorg,newbalanceorig,oldbalancedest,newbalancedest,isfraud,original_balance_difference,dest_balance_diff,amount_to_origin_ratio,amount_to_dest_ratio,transaction_hour,night_transaction,type_cash_out,type_debit,type_payment,type_transfer
0,9839.64,170136.0,160296.36,0.0,0.0,0,9839.64,0.0,0.057834,9839.640000,1,1,False,False,True,False
1,1864.28,21249.0,19384.72,0.0,0.0,0,1864.28,0.0,0.087731,1864.280000,1,1,False,False,True,False
2,181.00,181.0,0.00,0.0,0.0,1,181.00,0.0,0.994505,181.000000,1,1,False,False,False,True
3,181.00,181.0,0.00,21182.0,0.0,1,181.00,-21182.0,0.994505,0.008545,1,1,True,False,False,False
4,11668.14,41554.0,29885.86,0.0,0.0,0,11668.14,0.0,0.280788,11668.140000,1,1,False,False,True,False

In [150]:
for i in df.columns:
    print(i)

amount
oldbalanceorg
newbalanceorig
oldbalancedest
newbalancedest
isfraud
original_balance_difference
dest_balance_diff
amount_to_origin_ratio
amount_to_dest_ratio
transaction_hour
night_transaction
type_cash_out
type_debit
type_payment
type_transfer

In [ ]:
#converting the dataset into cleaned one for modeling 
df.to_csv("cleaned_data.csv",index=False)